a {
    text-decoration: none;
  }
textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
}

#map {
    width: 500px;
    height: 500px;
    background-color: grey;
}

.map{
    box-sizing: border-box;
    width: 100%;
}

/* #search_bar{
    margin-bottom: 20px;
} */

.marker_text{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

